<%= form_with(model: trapeze, local: true) do |form| %>
  <% if trapeze.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trapeze.errors.count, "error") %> prohibited this trapeze from being saved:</h2>

      <ul>
      <% trapeze.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :side %>
    <%= form.number_field :side %>
  </div>

  <div class="field">
    <%= form.label :biggerBase %>
    <%= form.number_field :biggerBase %>
  </div>

  <div class="field">
    <%= form.label :smallerBase %>
    <%= form.number_field :smallerBase %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
