<p id="notice"><%= notice %></p>

<p>
  <strong>Side:</strong>
  <%= @trapeze.side %>
</p>

<p>
  <strong>Biggerbase:</strong>
  <%= @trapeze.biggerBase %>
</p>

<p>
  <strong>Smallerbase:</strong>
  <%= @trapeze.smallerBase %>
</p>

<%= link_to 'Edit', edit_trapeze_path(@trapeze) %> |
<%= link_to 'Back', trapezes_path %>
